<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
		<title>Voter Portal</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/ballot.js"></script>
        
	</head>
	<body>

    <h1>Ballot</h1>
   <form action="/action_page.php">
        {{#each contests}}
        <h4 class= "type">{{ type }}</h4>
        <h4>{{ office }}</h4>
            {{#each candidates}}
                <input type="radio" data-id="{{this.name}}" name="{{../office}}" value="{{name}}">
                <label for="{{../office}}">{{name}}</label><br>
            {{/each}}
        
        {{/each}}
    </form>
</body>
</html>