<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
		<title>Voter Portal</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/ballot.js"></script>
        
	</head>
	<body>

   <h1>Ballot</h1>
   <h4 class= "type">{{ type }}</h4>
   {{!-- Added a new H4 called "normalized Input.line1" sourced from the API routes (line 138).  Using as a User ID alternative since we did not source ID to ballot.handlebars" --}}
   <h4 class= "type" hidden id = "address">{{ normalizedInput.line1 }}</h4>

   {{!-- Commented this out because page was reloading after submit button --}}
   {{!-- action="/action_page.php --}}
   <form>
   <h4 class= "type">{{ type }}</h4>
        {{#each contests}}
        <h4 class= "type"></h4>
        <h4 class= "office">{{ office }}</h4>
            {{#each candidates}}
                <input class="radio" type="radio" data-id="{{this.name}}" name="radio {{../office}}" value="{{name}}">
                <label for="{{../office}}">{{name}}</label><br>
            {{/each}}
        
        {{/each}}
        <br>
        
    </form>
    {{!-- Put outside of the form to stop page reload --}}
    <button class="submit" id="submit" data-id="submit" > Submit Election</button>
</body>
</html>